
.col-sm-4 {
	text-align: center;
}

h3 {
	font-size: 14pt;
}

.introduction {
	font-size: 14pt;
}

#container {
  	background: url("https://d1yn1kh78jj1rr.cloudfront.net/preview/indian-flag-butterfly-on-creative-background_fkFLc_iO_M.jpg") no-repeat center center fixed;
  	text-align: right;
	background-size: cover;
	height: 800px;
	width: 100%;
	margin: 0;
}
